<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-center">
    <h1 class="mb-2 flex text-3xl">Welcome!</h1>
  </div>
</div>
